/************************************************************************
  -- HEADER
  -- GENERAL
  -- AGENTS & AGENTS SUMMARY
  -- -- Filters
  -- -- Agents
  -- -- Agents Summary
************************************************************************/
body {
    padding-top: 106px; /* Move down content because we have a fixed navbar that is 106px tall */
    background-color: #eaedf1;
    font-family: 'Open Sans';
    font-weight: 300;
}

.navbar-fixed-top {
    border: 0;
    color: white;
    background-color: #153F5F;
    background-image: none;
}

/************************************************************************
  HEADER
************************************************************************/
.header{
    position: relative;
    padding: 0 28px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    background-color: #f9fafc;
    border-bottom: 2px solid #1bbae1;
    color: #8f8f8f;
    font-family: 'Open Sans', sans-serif;
}
    .header a{
        display: inline-block;
        height: 100%;
        color: #1bbae1;
        font-size: 2.6em;
        text-decoration: none;

    }
    .time, .date{
        display: block;
        position: absolute;
        top: 0;
    }
    .time{
        left: 28px;
        font-size: 1.8em;
    }
    .date{
        right: 28px; top: 24px;
        width: 120px; height: 50px;
    }
    .day, .month, .day-number{
        display: block; position: absolute; top: 0;
        text-align: center;
    }
    .day, .month{
        height: 25px; line-height: 25px;
        font-size: 1.6em;
        left: 0;
        width: 50px;
    }
    .date .day{
       top: 0;
    }
    .date .month{
        top: 22px;
    }
    .date .day-number{
        display: block;
        position: absolute; top: 0; right: 0;
        width: 70px; height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 4.5em;
        color: #1bbae1;
    }

/************************************************************************
  General
************************************************************************/

.panel-default .panel-heading {
    color: #394a73;
    font-size: 1.1em;
    font-weight: bold;
    background-color: #f9fafc;
    background-image: none;
}
.LP30{
    padding-left:  30px;
}
.panel-default .panel-body .fa-spin {
    font-size: 1.8em;
    margin-left: 20px;
    margin-top: 15px;
}
.highlight {
    background-color: #FCFCB4;
}

/************************************************************************
  -- Agents & Agents Summary
  -- -- Filters
  -- -- Agents
  -- -- Agents Summary
************************************************************************/

.filters-wrapper{
    height: 35px;
    padding-bottom: 5px;
}
.filters{
    position: relative;
    height: 28px;
    background-color: #6ad2eb;
    border-radius: 5px;
    overflow: hidden;
    border: solid 1px #1bbae1;
}
    .filters a{
        display: block;
        width: 88px;
        line-height: 28px;
        text-align: center;
        float: left;
        color: #fff;
        text-decoration: none;
        font-size: 0.8em;
        font-weight: 400;
        border-right: solid 1px #1bbae1;
    }
    .filters a:last-child{
        border-right: none;
    }

    .filters a.active, .filters a:hover{
        background-color: #1bbae1;
    }


#agents, #agentSummary, #callsInQueue{
    border: solid 1px #dbe1e8;
}
#agents {
    margin-top: 15px;
    margin-bottom: 30px;
}
    #agents .agentGroups {
      padding-left: 0;
      padding-right: 7px;
    }
    #agents .panel-body {
      padding: 8px 0 8px 6px;
    }
    .status-image {
        width: 98px;
        height: 27px;
    }
    .panel-default .panel-body table {
        color: #575757;
        font-size: 0.8em;
        font-weight: 400;
        border: none;
    }
    .panel-default .panel-body table th {
        border-top: none;
        border-bottom: solid 2px #e8ecf3;
    }

    .panel-default .panel-body table tr{
        border-bottom: solid 1px #e8ecf3;
    }
    .panel-default .panel-body table tr:nth-child(odd){
        background-color: #fafafc;
    }
    .panel-default .panel-body table td{
        padding: 0;
        height: 20px; min-height: 20px;
        border: none;
    }
    /* had to add div inside table cells to control height */
    .panel-default .panel-body table td div{
        height: 35px; overflow: auto;
        line-height: 35px;
    }

#agents-summary .col-sm-3, #agents-summary .col-sm-9{
    padding-right: 0;
    padding-left: 0;
}
    #agents-summary .panel-body{
        padding: 15px 0;
    }
    .summary-labels, .summary-row{
        height: 44px;
        line-height: 44px;
        text-align: center;
    }
    .summary-labels{
        border-bottom: solid 2px #d9d9d9;
    }
    .summary-row{
        border-bottom: solid 1px #d9d9d9;
    }
    .callcenter-title{
        text-align: left;
        padding-left: 15px !important;
    }

    .summary-row .on-call,
    .summary-row .available,
    .summary-row .unavailable,
    .summary-row .signed-out{
        display: inline-block;
        width: 36px; height: 36px;
        line-height: 36px;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        font-weight: bold;
    }
    .summary-row .on-call{
        background-color: #1dc3e5;
    }
    .summary-row .available{
        background-color: #2dcb74; 
    }
    .summary-row .unavailable{
        background-color: #fc604f;
    }
    .summary-row .signed-out{
        background-color: #a2a2a2;
    }