<style type="text/css">
	#agents {
		margin-top: 15px;
	}
	#agents .agentGroups {
		padding-left: 0;
		padding-right: 7px;
	}
	
	#agents .panel-body {
	    padding: 8px 0;
	}
	
	#agentSummary .title {
		font-size: .8em;
	}
	#agentSummary .badge {
		font-size: 1.8em;
		margin-top: 10px;
	}
	
	#agentSummary .agentSummaryContainer .row-fluid {
		text-align: center;
	}
	
	#agentSummary .agentSummaryContainer .onCall .badge {
		background-color: #1C3F60;
	}
	
	#agentSummary .agentSummaryContainer .available .badge {
		background-color: #B7DE82;
	}
	
	#agentSummary .agentSummaryContainer .away .badge {
		background-color: #F00413;
	}
	
	#agentSummary .agentSummaryContainer .signedOut .badge {
		background-color: #B4B4B4;
	}
	
	#agentSummary .callCenterName {
		background-color: #4762b3;
		color: #fff;
		padding: 5px;
		margin: 7px auto;
	}
</style>

<!-- Agents -->
<div class="col-sm-12 col-md-12 main">
	<div class="panel panel-default" id="agents">
		<div class="panel-heading">
			Agents
		</div>
		<div class="panel-body padding6">
			<div class="row-fluid agents-head">
				<div class="status-legends pull-left">
					<span class="on-call">On Call</span>
					<span class="available">Available</span>
					<span class="unavailable">Unavailable</span>
					<span class="signed-out">Signed Out</span>
				</div>
				<div class="status-dropdown pull-right">
					<select ng-model="filterStatus" class="form-control"
						ng-options="agent.status as agent.status for agent in agents | orderBy:'status' | unique:'status'">
						<option value="">view by status</option>
					</select>
				</div>
			</div>
			<div ng-if="agentsError">Error Occurred</div>
			<div class="row-fluid">
			
				<!-- First Column of Agents -->
				<div class="col-md-3 agentGroups" ng-repeat="agentGroups in agents | unique:'agentId' | status:filterStatus | orderBy:'extension' | partition:15 track by $index">
					<table class="table table-responsive table-condensed table-bordered">
						<tr>
							<th>Extension</th>
							<th class="status">Status</th>
						</tr>
						
						<tr ng-repeat="agent in agentGroups track by agent.agentId" id="{{agent.agentId}}">
							<td highlighter="agent.status" class="extension">{{agent.extension}}</td>
							<td class="status"><img class="status-image" ng-src="./resources/assets/{{agent.status}}.png"></img></td>
						</tr>
					</table>
				</div>
			</div> <!-- end .row -->
			
		</div>
	</div>
</div>

<!-- Calls In Queue -->
<div class="col-sm-6 col-md-6 main">
	<div class="panel panel-default" id="callsInQueue">
		<div class="panel-heading">
			Calls In Queue
		</div>
		<!-- <div ng-show="callsInQueue.initialized" class="panel-body chart-panel"> -->
		<div ng-show="callsInQueue.initialized" class="panel-body chart-panel">
			<div google-chart chart="chartObject" style="width: 600px; height: 350px;"></div>
			<!-- <div google-chart chart="chartObject" style="{{cssStyle}}"></div> -->
		</div>
	</div>
</div>


<!-- Calls In Queue -->
<div class="col-sm-6 col-md-6 main">
	<div class="panel panel-default" id="agentSummary">
		<div class="panel-heading">
			Agent Summary
		</div>
		<div class="panel-body">
		
				
			<div ng-if="agentSummaryError">Error Occurred</div>
			<div class="agentSummaryContainer" ng-repeat="data in callCenterAgentSummary">
				
				<div class="row-fluid">
					<div class="col-sm-12">
						<div class="callCenterName">{{data.callCenterName}}</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="col-sm-3 onCall">
						<div class="title">ON CALL</div>
						<span class="badge badge-primary" ng-bind="agents | callcenter:data.callCenterId:'On-Call'"></span>
					</div>
					<div class="col-sm-3 available">
						<div class="title">AVAILABLE</div>
						<span class="badge badge-primary" ng-bind="agents | callcenter:data.callCenterId:'Available'"></span>
					</div>
					<div class="col-sm-3 away">
						<div class="title">UNAVAILABLE</div>
						<span class="badge badge-primary" ng-bind="agents | callcenter:data.callCenterId:'Unavailable'"></span>
					</div>
					<div class="col-sm-3 signedOut">
						<div class="title">SIGNED OUT</div>
						<span class="badge badge-primary" ng-bind="agents | callcenter:data.callCenterId:'Sign-Out'"></span>
					</div>
				</div>
			</div> <!-- .agentSummaryContainer -->
		</div>
	</div>
</div>