<!-- Agents -->
<div class="col-sm-12 col-md-12 main">
	<div class="panel panel-default" id="agents">
		<div class="panel-heading">
			Agents
		</div>
		<div class="panel-body padding6">
			<div class="row-fluid filters-wrapper">
				<div class="filters pull-left">
					<a href="#" class="default" ng-class="{'active': agentsFilter == ''}" ng-click="filterAgents('')">Default</a>
					<a href="#" class="available" ng-class="{'active': agentsFilter == 'On-Call'}" ng-click="filterAgents('On-Call')">On Call</a>
					<a href="#" class="available" ng-class="{'active': agentsFilter == 'Available'}" ng-click="filterAgents('Available')">Available</a>
					<a href="#" class="available" ng-class="{'active': agentsFilter == 'Unavailable'}" ng-click="filterAgents('Unavailable')">Unavailable</a>
					<a href="#" class="available" ng-class="{'active': agentsFilter == 'Sign-Out'}" ng-click="filterAgents('Sign-Out')">Signed Out</a>
				</div>
			</div>

			<div ng-if="agentsError">Error Occurred</div>
			<div class="row-fluid">
			
				<!-- First Column of Agents -->
				<div class="col-md-3 agentGroups" ng-repeat="agentGroups in agents | unique:'agentId' | status:agentsFilter | orderBy:'extension' | partition:4 track by $index">
					<table class="table table-responsive">
						<tr>
							<th class="extension">Extension</th>
							<th class="status">Status</th>
						</tr>
						<tr ng-repeat="agent in agentGroups track by agent.agentId" id="{{agent.agentId}}">
							<td highlighter="agent.status" class="extension"><div class="LP30">{{agent.extension}}</div></td>
							<td class="status"><div><img class="status-image" ng-src="./resources/assets/{{agent.status}}.png"></img></div></td>
						</tr>
					</table>
				</div>
			</div> <!-- end .row -->
		</div>
	</div>
</div>

<!-- Calls In Queue -->
<div class="col-sm-6 col-md-6 main">
	<div class="panel panel-default" id="callsInQueue">
		<div class="panel-heading">
			Calls In Queue
		</div>
		<!-- <div ng-show="callsInQueue.initialized" class="panel-body chart-panel"> -->
		<div ng-show="callsInQueue.initialized" class="panel-body chart-panel">
			<div google-chart chart="chartObject" style="min-height: 350px;"></div>
			<!-- <div google-chart chart="chartObject" style="{{cssStyle}}"></div> -->
		</div>
	</div>
</div>


<!-- Agents Summary -->
<div class="col-sm-6 col-md-6 main">
	<div class="panel panel-default agents-summary" id="agents-summary">
		<div class="panel-heading">
			Agent Summary
		</div>
		<div class="panel-body">
			<div ng-if="agentSummaryError">Error Occurred</div>
			<div class="row-fluid summary-labels">
				<div class="col-sm-3 callcenter-title">
					Call Center
				</div>
				<div class="col-sm-9">
					<div class="row-fluid">
						<div class="col-sm-3">On Call</div>
						<div class="col-sm-3">Available</div>
						<div class="col-sm-3">Unavailable</div>
						<div class="col-sm-3">Signed Out</div>
					</div>
				</div>
			</div>

			<div class="agentSummaryContainer" ng-repeat="data in callCenterAgentSummary">
				<div class="row-fluid summary-row">
					<div class="col-sm-3 callcenter-title">
						{{data.callCenterName}}
					</div>
					<div class="col-sm-9">
						<div class="row-fluid">
							<div class="col-sm-3" ><span class="on-call" ng-bind="agents | callcenter:data.callCenterId:'On-Call'"></span></div>
							<div class="col-sm-3" ><span class="available" ng-bind="agents | callcenter:data.callCenterId:'Available'"></span></div>
							<div class="col-sm-3" ><span class="unavailable" ng-bind="agents | callcenter:data.callCenterId:'Unavailable'"></span></div>
							<div class="col-sm-3" ><span class="signed-out" ng-bind="agents | callcenter:data.callCenterId:'Sign-Out'"></span></div>
						</div>
					</div>
				</div>
			</div> <!-- .agentSummaryContainer -->
		</div>
	</div>
</div>